.about_container {
  display: flex;
  flex-direction: column;
}

.modal_container {
  display: flex;
  gap: 5rem;
}

.modal_buttons {
  width: 130px;
  background-color: #140040;
}

.modal_items_container {
  width: 100%;
}

.faculty_itemsContainer {
  display: flex;
  width: 35rem;
}

@media screen and (max-width: 1000px) {
  .about_mainText {
    align-items: center;
  }

  .about_mainText h1,
  .about_SDU h1,
  .about_SDU2 h1 {
    font-size: 2rem;
  }

  .about_mainText p,
  .about_SDU p,
  .about_SDU2 p {
    font-size: 1rem;
  }

  .aboutSDU_png {
    width: 20rem;
  }

  .aboutSDU2_png {
    width: 20rem;
    height: 20rem;
  }

  .modal_container {
    gap: 2rem;
  }

  .modal_buttons {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }

  .faculty_itemsContainer {
    width: 15rem;
  }
}

@media screen and (max-width: 600px) {
  .modal_container {
    gap: 0.5rem;
  }

  .about_mainText h1,
  .about_SDU h1,
  .about_SDU2 h1 {
    font-size: 1rem;
  }

  .about_mainText p,
  .about_SDU p,
  .about_SDU2 p {
    font-size: 0.5rem;
  }

  .aboutSDU_png {
    width: 10rem;
  }

  .aboutSDU2_png {
    width: 10rem;
    height: 10rem;
  }

  .modal_buttons {
    width: 80px;
    height: 30px;
    font-size: 8px;
  }
}
