.blogsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.titleContainer button {
  width: 10rem;
  border-radius: 1rem;
}

.createPostContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}

.createPostContainer div {
  display: flex;
  justify-content: end;
}

.createPostContainer div button {
  border: none;
  width: 5rem;
}

.blogButtons {
  display: flex;
  width: 100%;
  justify-content: end; 
}
