.FAQ_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about_mainText h1 {
  font-size: 3rem;
  font-weight: 500;
}

.about_mainText p {
  font-size: 1.4rem;
}

.inputs_button_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs_button_container button {
  width: max-content;
  padding: 0.5rem 4rem;
  background-color: #140040;
  color: #fff;
  border-radius: 1rem;
}
