p {
  margin: 0;
}

.contacts_content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid #140040;
  border-radius: 10px;
  padding: 10px;
  gap: 1rem;
  max-width: 30%;
}

.card img {
  max-width: 10%;
}

.icon {
  margin-right: 10px;
}

.address {
  font-weight: bold;
}

.address_div {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

@media screen and (max-width: 1000px) {
  .cardContainer {
    gap: 2rem;
  }

  .address_div p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .cardContainer {
    gap: 1rem;
  }

  .address_div p {
    font-size: 0.7rem;
  }
}
