.back_sign_in {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
  display: flex;
  overflow: hidden;
}

.dark_lay {
  background-image: url('../../assets/Background_sign_in.png');
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ret_btn {
  position: absolute;
  top: 6%;
  left: 4%;
  color: white;
}

.welcome_text {
  position: absolute;
  font-weight: 700;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sec_side {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 5rem;
}

.sec_side input[type='checkbox'] {
  width: 22px;
  height: 22px;
  accent-color: #140040;
}

.inputContainer {
  width: 100%;
}

.form_floating {
  display: flex;
  flex-direction: column;
  width: 100%;
}
