/* AdminPage.module.css */
.adminPage {
  display: flex;
}

/* Sidebar.module.css */
.sidebar {
  max-width: 100%;
  background-color: #140040;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
}

.sidebar img {
  padding: 30px 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px 20px;
}

.sidebar li:hover {
  background-color: #fff;
  color: #140040;
}

/* MainContent.module.css */
.mainContent {
  padding: 3rem;
  flex: 1;
  padding-left: 250px; /* Adjust padding to accommodate the width of the sidebar */
}

@media screen and (max-width: 1000px) {
  .mainContent {
    padding-left: 200px;
  }
}

@media screen and (max-width: 600px) {
  .mainContent {
    padding-left: 180px;
  }
}
